<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Aquity</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'map/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap!" >
    <link rel="stylesheet" href="{% static 'map/css/map.css' %}"/> 
</head>

<body class="">
    <div id="app"></div>
    <script type="text/javascript">
        {% comment %} var context = {
            user : {
                name : '{{user_name}}',
                id : '{{user_id}}',
            }
        }; {% endcomment %}
        var STATIC_PATH ="{% static 'map/'%}";
    </script>
    <script src="{% static 'map/frontend/index.js' %}"></script>
</body>

<script>
</script>

</html>